name: .NET Build

on:
  pull_request:
  push:
    branches: [main]

concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

env:
  project_name: Photobooth

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: "10.x.x"

      - name: Restore dependencies
        run: dotnet restore

      - name: Download Dalamud
        if: "!contains(github.event.head_commit.message, '[stg]')"
        run: |
          Invoke-WebRequest -Uri https://goatcorp.github.io/dalamud-distrib/latest.zip -OutFile latest.zip
          Expand-Archive -Force latest.zip "$env:AppData\XIVLauncher\addon\Hooks\dev"

      - name: Download Dalamud staging
        if: "contains(github.event.head_commit.message, '[stg]')"
        run: |
          Invoke-WebRequest -Uri https://goatcorp.github.io/dalamud-distrib/stg/latest.zip -OutFile latest.zip
          Expand-Archive -Force latest.zip "$env:AppData\XIVLauncher\addon\Hooks\dev"

      - name: Build
        run: |
          dotnet build --no-restore --configuration Release --nologo

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4
        with:
          path: |
            ./${{ env.project_name }}/bin/Release/${{ env.project_name }}/*
          if-no-files-found: error
